@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nextSlide {
        transform: translateX(-250%);
        opacity: 0;
        display: hidden;
    }

    .prevSlide {
        transform: translateX(250%);
        opacity: 0;
        display: hidden;
    }

    .currentSlide {
        transform: translateX(-50%);
        opacity: 1;
    }
}
